<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site uses data from different weather providers, allowing the user to get the forecast for a location of their choice.</p>
        <img class="portrait" src="/img/3-robot.jpeg">
    </div>
    {{>footer}}
</body>

</html>